/*Color palette*/
/*Typographic*/
/*h1*/
/*h2*/
/*h3*/
/*h4*/
/*h5*/
/*h6*/
/*text L*/
/*text M*/
/*clip*/
/*text S*/
/*footer's links text*/
/*button's text*/
/*header's links text*/
/*e-mail*/
/*Geometry*/
/*Transition*/
/*Shadow*/
/*media-variabels*/
:root {
  --container-width: 100%;
  --header-padding: 16px 0;
  --header-hight: 60px;
  --logo-text-size: 24px;
  --logo-line-height: 1.17;
  --hero-bg-img: url('../img/hero-bg-img.png');
  --hero-bg-img2x: url('../img/hero-bg-img@2x.png');
  --hero-hight: 400px;
  --hero-padding: 118px 15px;
  --hero-title-size: 26px;
  --hero-title-line-height: 1.62;
  --hero-title-width: 100%;
  --section-padding: 60px 0;
  --section-title-size: 28px;
  --title-align: center;
  --title-pagging-bottom: 30px;
  --card-width: 100%;
  --card-width-wide: 100%;
  --btn-width: calc(100% / 2 - 30px);
  --footer-heigth: 603px;
  --footer-padding: 60px 0;
  /*navigation links*/
  --menu-margin: 0;
  --address-margin: 0;
  --span-margin-l: 0;
  --nav-text-size: 40px;
  --nav-text-line-height: 1.17;
  /*phone namber*/
  --tel-text-size: 34px;
  --tel-text-line-height: 1.18;
  /*form*/
  --modal-width: 450px;
  --form-title-line-height: 1.5;
  --input-width: 100%;
  --inpun-text-size: 14px;
  --checkbox-text-size: 12px;
  --checkbox-line-height: 1.17;
}

@media screen and (min-width: 480px) {
  :root {
    --container-width: 480px;
    --hero-title-width: 360px;
    --hero-padding: 118px 0;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --container-width: 768px;
    --header-padding: 21px 0;
    --header-hight: 80px;
    --menu-margin: 88px;
    --address-margin: 84px;
    --nav-margin-r: 50px;
    --span-margin-l: 8px;
    --hero-bg-img: url('../img/hero-bg-img2.png');
    --hero-bg-img2x: url('../img/hero-bg-img2@2x.png');
    --card-width: calc((100% - 60px) / 2);
    --card-width-wide: calc((100% - 60px) / 2);
    --title-align: start;
    --btn-width: calc((100% - 90px) / 3);
    --footer-padding: 60px;
    --nav-text-size: 14px;
    --nav-text-line-height: 1.14;
    --tel-text-size: 12px;
    --tel-text-line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --container-width: 1200px;
    --header-padding: 24px 0;
    --menu-margin: 93px;
    --address-margin: 305px;
    --logo-text-size: 26px;
    --logo-line-height: 1.19;
    --span-margin-l: 10px;
    --hero-hight: 600px;
    --hero-padding: 200px 0;
    --hero-title-size: 44px;
    --hero-title-line-height: 1.36;
    --hero-title-width: 696px;
    --hero-bg-img: url('../img/hero-bg-img3.png');
    --hero-bg-img2x: url('../img/hero-bg-img3@2x.png');
    --section-padding: 94px 0;
    --section-title-size: 36px;
    --title-pagging-bottom: 50px;
    --card-width: calc((100% - 120px) / 4);
    --card-width-wide: calc((100% - 90px) / 3);
    --btn-width: calc((100% - 180px) / 6);
    --footer-heigth: 252px;
    --footer-padding: 60px 0;
    --nav-text-size: 14px;
    --menu-margin: 94px;
    --tel-text-size: 14px;
    --tel-text-line-heigh: 1.14;
    --input-width: 368px;
    --modal-width: 528px;
    --inpun-text-size: 12px;
    --form-title-line-height: 1.15;
    --checkbox-text-size: 14px;
    --checkbox-line-height: 1.71;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --nav-margin-b: 32px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #212121;
  background-color: white;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title--upp {
  text-transform: uppercase;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button, .button--menu, .card__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo, .button, .button--social, .cards__link {
  text-decoration: none;
  cursor: pointer;
}

.logo:focus, .button:focus, .button--social:focus, .cards__link:focus {
  outline: none;
}

.cards__list {
  list-style-type: none;
}

.container {
  width: var(--container-width);
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  display: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

.container--align-start {
  text-align: start;
}

.section {
  overflow: hidden;
  width: 100%;
  padding: var(--section-padding);
}

@media screen and (max-width: 1199px) {
  .section--hidden {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section--low {
    padding-bottom: 0;
  }
}

.section--grey {
  background-color: #f5f4fa;
}

.section__title {
  font-size: var(--section-title-size);
  font-weight: bold;
  letter-spacing: 0.01em;
  padding-bottom: var(--title-pagging-bottom);
}

.section__buttons {
  margin-bottom: -8px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .section__buttons {
    padding-bottom: var(--title-pagging-bottom);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: var(--logo-text-size);
  line-height: var(--logo-line-height);
  letter-spacing: 0.03em;
  display: inline-block;
  color: #212121;
}

.logo__acsent {
  color: #2196f3;
}

.footer__logo {
  color: white;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.button:hover, .button:focus, .button:active {
  background-color: #2196f3;
  color: white;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__burger {
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__cross {
  fill: currentColor;
  display: none;
}

.button--menu {
  color: #212121;
  background-color: white;
  border: none;
  margin-right: 8px;
  z-index: 20;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--menu:hover {
  color: #2196f3;
  cursor: pointer;
}

.button--menu:active, .button--menu:focus {
  outline: none;
}

.button--menu.is-open .button__burger {
  display: none;
}

.button--menu.is-open .button__cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
}

@media screen and (min-width: 768px) {
  .button--menu {
    display: none;
  }
}

.button--size-l {
  background-color: #2196f3;
  color: white;
  margin: 0 auto;
  width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__span {
  margin-right: 10px;
}

.button--round {
  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  padding: 0 0 0 0;
  color: #afb1b8;
  background-color: white;
}

.button--round:hover, .button--round:focus, .button--round:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--with-border {
  color: #afb1b8;
  background-color: white;
  height: 90px;
  width: 100%;
  padding: 0 0 0 0;
  border: 1px solid #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--with-border:hover, .button--with-border:focus, .button--with-border:active {
  background-color: white;
  color: #2196f3;
  border-color: #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--inversion {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.button--inversion:hover, .button--inversion:focus, .button--inversion:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--size-s {
  color: #212121;
  min-width: 30px;
  min-height: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--size-s:hover, .button--size-s:active, .button--size-s:focus {
  color: #2196f3;
  background-color: white;
}

.button--social {
  font-style: normal;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.button__icon {
  fill: currentColor;
}

.cards {
  margin-right: -30px;
  margin-bottom: -30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .cards {
    display: block;
  }
}

.cards__list {
  -ms-flex-preferred-size: var(--card-width);
      flex-basis: var(--card-width);
  color: #757575;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards__list--wide {
  -ms-flex-preferred-size: var(--card-width-wide);
      flex-basis: var(--card-width-wide);
}

.cards__list--with-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.cards__link {
  display: inline-block;
  width: 100%;
  /*min-height: 404px;*/
  color: currentColor;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__link:hover, .cards__link:active, .cards__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  width: 100%;
  background-color: white;
  position: relative;
}

.card__image-box {
  background-color: #f5f4fa;
  min-height: 120px;
  position: relative;
  overflow: hidden;
}

.card__image-box--with-owerley {
  height: 294px;
}

.card__image {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__caption {
  padding: 30px 32px;
}

.card__caption--low {
  padding: 30px 0 0 0;
}

@media screen and (min-width: 768px) {
  .card__caption--low {
    text-align: start;
  }
}

.card__caption--inversion {
  color: white;
  width: 100%;
  min-height: 70px;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.card__caption--multi-row {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__caption--wide {
    padding-bottom: 54px;
  }
}

.card__title {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  padding-bottom: 10px;
}

.card__title--s {
  text-align: var(--title-align);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
}

.card__title--l {
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.card__title--inverse {
  color: white;
  text-align: center;
  padding-bottom: 0;
}

.card__text, .clip {
  font-size: 16px;
  font-weight: normal;
}

.card__text {
  line-height: 1.19;
  padding-bottom: 16px;
}

.card__text--size-m {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  padding-bottom: 0;
}

/*clip*/
.clip {
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */