/*Color palette*/

$primary-text-color: rgba(33, 33, 33, 1);
$hover-text-color: rgba(33, 150, 243, 1);
$light-text-color: rgba(255, 255, 255, 1);
$light-footer-text-color: rgba(255, 255, 255, 0.6);
$grey-text-color: rgba(117, 117, 117, 1);
$primary-background-color: rgba(47, 48, 58, 1);
$secondry-background-color: rgba(245, 244, 250, 1);
$border-color: rgba(238, 238, 238, 1);
$hero-background-color: rgba(196, 196, 196, 1);
$gradient-background-color: rgba(47, 48, 58, 0.4);
$icons-color: rgba(175, 177, 184, 1);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$icons-bg-footer-color: rgba(255, 255, 255, 0.1);
$caption-bg-color: rgba(47, 48, 58, 0.8);

/*Typographic*/

/*h1*/

$hero-title-weight: 900;
$hero-title-letter-spacing: 0.06em;

/*h2*/

$section-title-weight: bold;
$section-title-line-height: 1.17;

/*h3*/

$form-title-size: 20px;
$form-title-weight: bold;

/*h4*/

$card-title-size-l: 18px;
$card-title-l-weight: bold;
$card-title-l-line-height: 2;
$card-title-l-letter-spacing: 0.06em;

/*h5*/

$card-title-size: 16px;
$card-title-weight: 500;
$card-title-line-height: 1.19;

/*h6*/

$card-title-size-s: 14px;
$card-title-s-weight: bold;
$card-title-s-line-height: 1.14;

/*text L*/

$text-size: 16px;
$text-weight: normal;
$text-line-height: 1.19;

/*text M*/

$text-size-m: 14px;
$text-m-weight: normal;
$text-m-line-height: 1.71;

/*clip*/

$clip-line-height: 1.87;

/*text S*/

$text-size-s: 12px;
$text-s-weight: 400;
$text-s-line-height: 1.17;
$text-s-letter-spacing: 0.01em;

/*footer's links text*/

$footer-text-size: 14px;
$footer-text-weight: normal;
$footer-text-line-height: 1.71;

/*button's text*/

$button-text-size-s: 16px;
$button-text-weight: bold;
$button-text-line-height: 1.87;

/*header's links text*/

$header-text-weight: 500;
$header-letter-spacing: 0.02em;

/*e-mail*/

$mail-text-size: 24px;
$mail-text-line-height: 1.16;

/*Geometry*/

$radius: 4px;
$footer-padding: 60px 0;
$lattice-margin: 30px;
$image-box-height: 294px;

/*Transition*/

$transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

/*Shadow*/

$shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

/*media-variabels*/

:root {

  --container-width: 100%;
  
  --header-padding: 16px 0;
  --header-hight: 60px;
  
  --logo-text-size: 24px;
  --logo-line-height: 1.17;
  
  --hero-bg-img: url('../img/hero-bg-img.png');
  --hero-bg-img2x: url('../img/hero-bg-img@2x.png');
  --hero-hight: 400px;
  --hero-padding: 118px 15px;
  
  --hero-title-size: 26px;
  --hero-title-line-height: 1.62;
  --hero-title-width: 100%;
  
  --section-padding: 60px 0;
  --section-title-size: 28px;
  
  --title-align: center;
  --title-pagging-bottom: 30px;
  
  --card-width: 100%;
  --card-width-wide: 100%;
  
  --btn-width: calc(100% / 2 - 30px);
  
  --footer-heigth: 603px;
  --footer-padding: 60px 0;
  
  /*navigation links*/
  
  --menu-margin: 0;
  
  --address-margin: 0;
  
  --span-margin-l: 0;
  
  --nav-text-size: 40px;
  --nav-text-line-height: 1.17;
  
  /*phone namber*/
  
  --tel-text-size: 34px;
  --tel-text-line-height: 1.18;
  
  
  /*form*/

  --modal-width: 450px;
  
  --form-title-line-height: 1.5;

  --input-width: 100%;
  --inpun-text-size: 14px;

  --checkbox-text-size: 12px;
  --checkbox-line-height: 1.17;

}

@media screen and (min-width: 480px) {
  :root {
    --container-width: 480px;

    --hero-title-width: 360px;
    --hero-padding: 118px 0;

  }
}

@media screen and (min-width: 768px) {
  :root {
    --container-width: 768px;

    --header-padding: 21px 0;
    --header-hight: 80px;

    --menu-margin: 88px;
    --address-margin: 84px;

    --nav-margin-r: 50px;

    --span-margin-l: 8px;

    --hero-bg-img: url('../img/hero-bg-img2.png');
    --hero-bg-img2x: url('../img/hero-bg-img2@2x.png');

    --card-width: calc((100% - 60px) / 2);
    --card-width-wide: calc((100% - 60px) / 2);

    --title-align: start;

    --btn-width: calc((100% - 90px) / 3);

    --footer-padding: 60px;

    --nav-text-size: 14px;
    --nav-text-line-height: 1.14;

    --tel-text-size: 12px;
    --tel-text-line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --container-width: 1200px;

    --header-padding: 24px 0;

    --menu-margin: 93px;
    --address-margin: 305px;

    --logo-text-size: 26px;
    --logo-line-height: 1.19;

    --span-margin-l: 10px;

    --hero-hight: 600px;
    --hero-padding: 200px 0;
    --hero-title-size: 44px;
    --hero-title-line-height: 1.36;
    --hero-title-width: 696px;

    --hero-bg-img: url('../img/hero-bg-img3.png');
    --hero-bg-img2x: url('../img/hero-bg-img3@2x.png');

    --section-padding: 94px 0;
    --section-title-size: 36px;

    --title-pagging-bottom: 50px;

    --card-width: calc((100% - 120px) / 4);
    --card-width-wide: calc((100% - 90px) / 3);

    --btn-width: calc((100% - 180px) / 6);

    --footer-heigth: 252px;
    --footer-padding: 60px 0;

    --nav-text-size: 14px;

    --menu-margin: 94px;

    --tel-text-size: 14px;
    --tel-text-line-heigh: 1.14;

    --input-width: 368px;

    --modal-width: 528px;
    --inpun-text-size: 12px;

    --form-title-line-height: 1.15;

    --checkbox-text-size: 14px;
    --checkbox-line-height: 1.71;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --nav-margin-b: 32px;
  }
}
