.logo {
  @extend %link;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: var(--logo-text-size);
  line-height: var(--logo-line-height);
  letter-spacing: 0.03em;
  display: inline-block;
  color: $primary-text-color;
}

.logo__acsent {
  color: $hover-text-color;
}

.footer__logo {
  color: $light-text-color;
  margin-bottom: 20px;
}
